
.list li{
height: 44px;
width: 425px;
font-size: 16px;
margin-bottom: 1px;
-webkit-appearance: none;
background: #fff;
border-bottom: 1px solid #c0c0c0;
list-style-type: none;
/* border-radius: 2px; */

}

.list {
    margin: 0;
    padding: 0;
}

h1 {
    color: orange;
    text-align: center;
}